.container {
  display: flex;
  margin: auto;
  width: 600px;
  margin-top: 40px;
}

.board-wrapper {
  position: relative;
  border: solid 2px #212529;
  box-sizing: border-box;
  height: 604px;
}

.pause-overlay,
.game-over-overlay,
.new-game-overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff;

    &.is-visible {
      display: flex;
    }
}

.game-info {
  margin-left: 20px;
}

.start-button, .restart-button {
  margin-bottom: 10px;
  cursor: pointer;
}

.game-score, .line-score, .level {
  margin-bottom: 10px;
}

.next-piece-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 140px;
  margin-bottom: 10px;
  padding: 5px;
  border: 2px solid #212529;
}